
   <img style="position: absolute; width: 18%; height: 23%; left: 1%; top: 3%;" 
		 src="~/Pictures/эмблема.png">
    <h1 style="position: absolute;width: 51%;height: 15%;left: 20%;top: 7%;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 230%;line-height: 115%;color: #2A3381;">
        Автоматизированное рабочее место
        <br> ФГБОУ ВО «МГТУ «СТАНКИН»
    </h1>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 20%;">
            Студенты
        </button>
    </form>
    <form onclick="https://localhost:7009/Students/main">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 27%;">
            Группы
        </button>
    </form>
    <form onclick="https://localhost:7009/Group/main">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 33%;">
            Дисциплины
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 42%;">
            Кафедры
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 49%;">
            Специальности
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 60%;">
            Преподаватели
        </button>
    </form>
    <img style="position: absolute;width: 100%;height: 4%;left: 0%;top: 29%;"
         src="~/Pictures/линии.jpg">
