@model IList<DataBase.Storage.Entity.Group>

	 <img style="position: absolute; width: 18%; height: 23%; left: 1%; top: 3%;" 
		 src="~/Pictures/эмблема.png">
    <h1 style="position: absolute;width: 51%;height: 15%;left: 20%;top: 7%;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 230%;line-height: 115%;color: #2A3381;">
        Автоматизированное рабочее место
        <br> ФГБОУ ВО «МГТУ «СТАНКИН»
    </h1>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 20%;">
            Студенты
        </button>
    </form>
    <form onclick="https://localhost:7009/Students/main">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 27%;">
            Группы
        </button>
    </form>
    <form onclick="https://localhost:7009/Group/main">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 33%;">
            Дисциплины
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 42%;">
            Кафедры
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 49%;">
            Специальности
        </button>
    </form>
    <form onclick="~/Specialitys/Specialitys.cshtml">
        <button style="position: absolute;display: inline-block;background: #4169E1; color: white;
				padding: 3rem, 1.5rem; text-decoration: none;
				border-radius: 7%;top: 23%; left: 60%;">
            Преподаватели
        </button>
    </form>
    <img style="position: absolute;width: 100%;height: 4%;left: 0%;top: 29%;"
         src="~/Pictures/линии.jpg">
	<h2 style="position: absolute;width: 688px;height: 102px;left: 117px;top: 220px;
font-family: 'Inter';font-style: normal;font-weight: 400;
font-size: 32px;line-height: 39px;">СПИСОК ГРУПП</h2>
	<table border="1" cellpadding="10" cellspacing="10" style="margin-top: 245px; border: 1px solid black">
		<tr>
			<th border="1" style="border: 1px solid black">
				ГРУППА
			</th>
			<th border="1" style="border: 1px solid black">
				ЧИСЛЕННОСТЬ
			</th>
			<th border="1" style="border: 1px solid black">
				НАПРАВЛЕНИЕ ПОДГОТОВКИ
			</th>
		</tr>
		@foreach(var group in Model)
		{
			<tr>
				<td border="1" style="border: 1px solid black">@group.Name</td>
				<td border="1" style="border: 1px solid black" align="center">@group.NumberOfStudents</td>
				<td border="1" style="border: 1px solid black">@group.Orientation</td>
			</tr>
		}
	</table>
	<div>
        @using (Html.BeginForm("название метода", "название контроллера", FormMethod.Post))
		{
			<textarea name="NameGroup" id="NameGroup"></textarea>
			<button type="submit">добавить</button>
		}
	</div>
	<img style="position: absolute;
width: 1380px;
height: 25px;
left: 0px; margin-top: 45px" src="~/Pictures/линии.jpg">