<!DOCTYPE html>
<html>
 <head>
  <title>Автоматизированное рабочее место</title>
  <style>
 h1 {
position: absolute;
width: 688px;
height: 102px;
left: 293px;
top: 7px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #2A3381;
   }
img {

position: absolute;
width: 199px;
height: 113px;
left: 28px;
top: 10px;


}
p {
position: absolute;
width: 1000px;
height: 27px;
left: 36px;
top: 140px ;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}
.nextpic {
position: absolute;
width: 1380px;
height: 25px;
left: 0px;
top: 128px;
}
.nextpic2 {
position: absolute;
width: 1380px;
height: 25px;
left: 0px;
top: 650px;
}
.button{
	background: transparent;
 
border: 0px;
   line-height: 16px;
}
.button::before {
	content: "✏️ "
}
.sprava {
text-aligh: right;
position: absolute;
width: 1000px;
height: 27px;
left: 1000px;
top: 140px ;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
}
</style>
 </head>
 <body>
<img src="C:\Users\Admin\Desktop\проект\эмблема.png">
  <h1>Автоматизированное рабочее место 
<br> ФГБОУ ВО «МГТУ «СТАНКИН»</h1>
<img class="nextpic" src="C:\Users\Admin\Desktop\проект\линии.jpg">
<div class="sprava"> <details>
  <summary>Open lorem ipsum details</summary>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas tempore tenetur ipsam culpa deleniti nostrum est magni dolore saepe. Cum laudantium autem aut placeat, cumque impedit mollitia labore quibusdam animi.
</details></div>
<p>09.03.01 Информатика и вычислительная техника <button class="button"></button> 
<br> 09.03.02 Информационные системы и технологии <button class="button"></button>
<br> 09.03.03 Прикладная информатика <button class="button"></button>
<br> 09.03.04 Программная инженерия <button class="button"></button>
<br> 12.03.01 Приборостроение <button class="button"></button>
<br> 15.03.01 Машиностроение <button class="button"></button>
<br> 15.03.02 Технологические машины и оборудование <button class="button"></button>
<br> 15.03.04 Автоматизация технологических процессов и производств <button class="button"></button>
<br> 15.03.05 Конструкторско-технологическое обеспечение машиностроительных производств <button class="button"></button>
<br> 15.03.06 Мехатроника и робототехника <button class="button"></button>
<br> 20.03.01 Техносферная безопасность <button class="button"></button>
<br> 22.03.01 Материаловедение и технологии материалов <button class="button"></button>
<br> 27.03.01 Стандартизация и метрология <button class="button"></button>
<br> 27.03.02 Управление качеством <button class="button"></button>
<br> 27.03.04 Управление качеством <button class="button"></button>
<br> 38.03.01 Экономика <button class="button"></button>
<br> 38.03.02 Менеджмент <button class="button"></button>
<br> 38.03.03 Управление персоналом <button class="button"></button> </p>

<img class="nextpic2" src="C:\Users\Admin\Desktop\проект\линии.jpg">
 </body>
</html>