@model IList<DataBase.Storage.Entity.Speciality>

	<h1>Специальности:</h1>

	<table>
		<tr>
			<th>
				Номер специальности
			</th>
			<th>
				Код
			</th>
			<th>
				Кол-во студентов
			</th>
		</tr>
		@foreach(var speciality in Model)
		{
			<tr>
				<td>@speciality.Name</td>
				<td>@speciality.Code</td>
				<td>@speciality.NumberOfStudents</td>
			</tr>
		}
	</table>
